{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<div class="container">
    <div class="row">
        <div class="col-md-3" id="left_menu">
            <div class="well" id="left_well">
                <ul class="list-group">
                    <li class="list-group-item active">Options:</li>
                    <a href="{%url 'repos:contents'%}" class="list-group-item">Download Content</a>
                    <a class="list-group-item">Browse Repository</a>
                </ul>
                <a href="{%url 'servers:new_server'%}" class="btn btn-default btn-block"> Add Server Config</a>
            </div>
        </div>
        <div class="col-md-6">
            <form action="" method="POST" id="get_props_form">
            {%csrf_token%}
                <div class="well" id="center-well">
                    <div class="form-group">
                    {%if repo_classes%}
                        <label for="class_id">Select a Document Classe:</label>
                        <select class="form-control" id="class_id" name="classe_id">
                        {%for classe in repo_classes%}
                        <option value="{{classe.id}}">{{classe.localName}} </option>
                        {%endfor%}                        
                        </select>
                    {%elif repo_class%}    
                        <label for="class_id">Selected Class:</label>
                        <input type="text" class="form-control" disabled value="{{repo_class.localName}}">
                    </div>
                    <div class="form-group alert-alert-success">
                        <ul class="list-group">
                            <li class="list-group-item active">Select the
                                Parameter for searching.
                        {%for property in class_props%}
                            <li class="list-group-item">
                                <input type="radio" name="search_by" id="to_search"value="{{property}}"> {{property}}
                            </li>
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="form-group"> 
                        <label for="object_ids">Paste Itens:</label>
                        <textarea class="form-control" name="object_ids" id="object_ids" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item active">Select the Properties to be
                            used as document Name:</li> 
                        {%for property in class_props%}
                        <li class="list-group-item" id="prop_name"><input
                            type="checkbox" id="selected_prop">
                            {{property}}</li>
                        {%endfor%}
                        </ul>
                    </div>
                        <input type="text" id="props_to_name" name="compose_doc_name" hidden>
                        <input type="text" name="class_id" value="{{repo_class.id}}" hidden>
                    <button type="submit" class="btn btn-default">Get Content</button>
                    {%elif result_ok%} 
                    <div class="panel panel-success">
                        <div class="panel-heading">Documents Downloaded Sccessfully</div>
                        <div class="panel-body">
                            {%for result in result_ok%}
                            <li class="list-group-item list-group-item-success">{{result}}</li>
                            {%endfor%}
                        </div>
                    </div>
                    {%endif%}
                </div>
            </form>
        </div>
    </div>
    {%if error or warning%}
    <div class="col-md-3">
        <div class="well">
            <div class="panel panel-warning">
                <div class="panel-heading">Documents not Found:</div>
                <div class="panel-body">
                    {%for notfound in warning%}
                    <li class="list-group-item list-group-item-warning">{{notfound}}</li>
                    {%endfor%}
                </div>
        </div>
    </div>
    {%endif%}
</div>
<!--END-->

{%endblock%}

