{%extends "base.html"%}
{%load staticfiles%}
{%block body%}
<!--PAGECONTENT-->
<div class="container">
    <div class="row">
        <div class="col-md-2" id="left_menu">
            <div class="well" id="leftwell">
                <ul class="list-group">
                    <li class="list-group-item active">Servers:</li>
                    {%for server in servers%}
                    <a href="{%url 'servers:update_server' server.id %}"
                        class="list-group-item">{{server.server_name}}</a>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <form action="" method="POST">
            {%csrf_token%}
                <div class="well" id="leftwell">
                    <label for="server_name">Server Name:</label>
                    <input type="text" class="form-control" name="server_name" id="server_name" value="{{object.server_name}}">
                    
                    <label for="server_address">Server Addres:</label>
                    <input type="text" class="form-control" name="server_address" id="server_address" value="{{object.server_address}}" >
                    <em>URL SAMPLE</em>
                    <div>
                        <button type"submit" class="btn btn-primary">Save</button>
                        {%if object%}
                            <a href="{%url 'servers:delete_server' object.id %}" class="btn btn-danger">Delete</a>
                        {%endif%}
                    </div>
                </div>
            </form>
        </div>
        {%if error%}
            <div class="col-md-2">
                <div class="well" id="leftwell">
                    ERRORS
                </div>
            </div>
        {%endif%}
    </div>
</div>
<!--END-->

{%endblock%}
