{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<form action="" method="POST">
    {%csrf_token%}
    <div id="delete_confirm_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Confirmar Exclusão</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h4>Remover: <strong>"{{object}}"</strong> ?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" value="Confirm">
                        Sim
                    </button>
                    <button type="submit" class="btn btn-success" name="cancel" value="Cancel">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}
