.row{
    padding-top:60px;
}
.list-group-item{
    text-align: left;
}
footer {
    background-color: #555;
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
    padding: 15px;
    width: 100%;
    position: absolute;
}
p{
    word-wrap: break-word;
    text-align: left;
}

#left-well{
    width: 113%;
}
#rigth-well{
    width: 200%;
    margin-left: -12%;
}
#center-well {
    box-shadow: -7px -1px 33px 2px #444;  
}
.list-group, .panel{
    margin: -7px -13px 10px -13px;
}
#about_text > p{
    text-indent: 26px;
    text-align: justify;
    font-size: 15px;
}
#about_text > h4{    
    font-weight: bold;
}
#server{
    transition: ease-in-out .4s;    
}